
*{
  margin:0;
  padding: 0;
}

a{
  color:#fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover{
  opacity: 0.5;
  color:pink;
}
.logo{
  width: 90px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  background-color: black;
  color: white;
  height: 8vh;
}
.nav-list{
  list-style: none;
  display: flex;
}
.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}

.home_attention{
  width: 100%;
  height: 30vh;
  align-items: center;
  padding-top: 50px;
  font-size: 5vh;
  text-align: center;
  transition: 0.3s;

}
.home_attention_text{
  transition: 0.3s;
}

.home_attention_text:hover{
  opacity: 0.5;
  color:red;
}


.section1_about{
  display: flex;
  flex-direction: 1;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}
.section1_about_text{
  text-align: justify;
  padding-left: 350px;
  
}
.section1_about_text_title{
  font-size:80px;
  padding-bottom: 60px;
  font-weight:300;
  font-family: monospace;
  color:#ffffff;
  text-align: left;
}
.section1_about_text_p{
  font-size:20px;
  font-weight:300;
  font-family: monospace;
  /* line-height: 1.3em; */
}
.section1_about_image{
  padding-right: 350px;
  padding-left: 100px;
}

.section2_stand{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
}

.section2_stand_products1{
  align-items:flex-start;
  text-align:left;
  margin-left: 200px;
}
.section2_stand_products1_text h3{
  font-family: monospace;
  font-size: 25px;
}
.section2_stand_products1_text p{
  font-family: monospace;
  font-size: 20px;
}

.section2_stand_products2{
  align-items:flex-start;

  text-align:left;
  margin-right: 200px;
}
.section2_stand_products2_text h3{
  font-family: monospace;
  font-size: 25px;
}
.section2_stand_products2_text p{
  font-family: monospace;
  line-height: 1.5em;
  font-size: 20px;
  padding-bottom: 10px;
}
span{
  text-decoration: line-through;

}
.image img{
  width:90%;
  height: 90%;
  transition: 0.7s;
}

.image img:hover{
  opacity: 0.5;
  color:pink;
}
.button_buy{
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  transition: 0.7s;
}
.button_buy:hover{
  opacity: 0.5;
  color:rgb(255, 0, 149);
}